<h1>Facebook Status Search ( in RSS ) </h1>

<form accept-charset="UTF-8" action="/convert/feed" method="get">

	<label for="q">Term to search :</label>
	<input id="q" name="q" type="text" />
	
	<input name="commit" type="submit" value="get RSS !" />	
	
</form>

