<h1></h1>

<form accept-charset="UTF-8" action="/convert/feed" method="get">

	<label for="q">Url to Convert:</label>
	<input id="q" name="q" type="text" />
	
	<input name="commit" type="submit" value="Preview" />	
	
</form>

